# Regiment

### Introduction:

Special thanks to: http://chrisalbon.com/ for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create the DataFrame with the following values:

In [2]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

### Step 3. Assign it to a variable called regiment.
#### Don't forget to name each column

In [7]:
regiment = pd.DataFrame(raw_data)
regiment.columns= ["Regiment", "Company", "Name", "PreTestScore", "PostTestScore"]
regiment.head()

     Regiment Company      Name  PreTestScore  PostTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94
2  Nighthawks     2nd       Ali            31             57
3  Nighthawks     2nd    Milner             2             62
4    Dragoons     1st     Cooze             3             70

### Step 4. What is the mean preTestScore from the regiment Nighthawks?

In [11]:
print(f'Mean of PreTestScore for Nighthawks - {regiment[regiment.Regiment == "Nighthawks"]["PreTestScore"].mean()}')

Mean of PreTestScore for Nighthawks - 15.25

### Step 5. Present general statistics by company

In [22]:
stats = regiment.groupby(by="Company")[["PreTestScore", "PostTestScore"]].agg(['mean', 'max', 'min', 'std', 'median']).reset_index()

### Step 6. What is the mean of each company's preTestScore?

In [30]:
stats[stats.Company=="1st"]['PreTestScore']["mean"]

0    6.666667
Name: mean, dtype: float64

### Step 7. Present the mean preTestScores grouped by regiment and company

In [31]:
stats_2 = regiment.groupby(by=["Regiment", "Company"])[["PreTestScore", "PostTestScore"]].agg(['mean', 'max', 'min', 'std', 'median']).reset_index()

In [38]:
stats_2

     Regiment Company PreTestScore                           PostTestScore  \
                              mean max min        std median          mean
0    Dragoons     1st          3.5   4   3   0.707107    3.5          47.5
1    Dragoons     2nd         27.5  31  24   4.949747   27.5          75.5
2  Nighthawks     1st         14.0  24   4  14.142136   14.0          59.5
3  Nighthawks     2nd         16.5  31   2  20.506097   16.5          59.5
4      Scouts     1st          2.5   3   2   0.707107    2.5          66.0
5      Scouts     2nd          2.5   3   2   0.707107    2.5          66.0


  max min        std median
0  70  25  31.819805   47.5
1  94  57  26.162951   75.5
2  94  25  48.790368   59.5
3  62  57   3.535534   59.5
4  70  62   5.656854   66.0
5  70  62   5.656854   66.0

### Step 8. Present the mean preTestScores grouped by regiment and company without heirarchical indexing

In [45]:
stats_2.columns = ["Regiment", "Company", "PreScoreMean", "PreScoreMax", "PreScoreMin", "PreScoreStd", "PreScoreMedian", "PostScoreMean", "PostScoreMax", "PostScoreMin", "PostScoreStd", "PostScoreMedian"]

In [47]:
stats_2

,Regiment,Company,PreScoreMean,PreScoreMax,PreScoreMin,PreScoreStd,PreScoreMedian,PostScoreMean,PostScoreMax,PostScoreMin,PostScoreStd,PostScoreMedian
0,Dragoons,1st,3.5,4,3,0.707107,3.5,47.5,70,25,31.819805,47.5
1,Dragoons,2nd,27.5,31,24,4.949747,27.5,75.5,94,57,26.162951,75.5
2,Nighthawks,1st,14.0,24,4,14.142136,14.0,59.5,94,25,48.790368,59.5
3,Nighthawks,2nd,16.5,31,2,20.506097,16.5,59.5,62,57,3.535534,59.5
4,Scouts,1st,2.5,3,2,0.707107,2.5,66.0,70,62,5.656854,66.0
5,Scouts,2nd,2.5,3,2,0.707107,2.5,66.0,70,62,5.656854,66.0

### Step 9. Group the entire dataframe by regiment and company

In [58]:
stats_3 = stats_2.groupby(by=["Regiment", "Company"]).size().reset_index(name='Count')

In [59]:
stats_3

     Regiment Company  Count
0    Dragoons     1st      1
1    Dragoons     2nd      1
2  Nighthawks     1st      1
3  Nighthawks     2nd      1
4      Scouts     1st      1
5      Scouts     2nd      1

### Step 10. What is the number of observations in each regiment and company

In [57]:
1

1

### Step 11. Iterate over a group and print the name and the whole data from the regiment