In [1]:
import pandas as pd

In [3]:
pd.Series([1,2,3,4],index=[1,2,3,4])

1    1
2    2
3    3
4    4
dtype: int64

In [4]:
pd.Series([1,2,3,4])

0    1
1    2
2    3
3    4
dtype: int64

In [5]:
# pandas index is immutable array

#### Ask Questions -

Completeness: Does the given data include all required information?

Validity: Does the given data correspond with business rules and/or restrictions?

Uniformity: Is the given data specified using consistent units of measurement?

Consistency: Is the given data consistent across your datasets?

Accuracy: Is the given data close to the true values?

Data Cleaning is an important process and it starts with removing unwanted samples/observations in the given dataset

#### Ways to Handle Missing Values

Drop missing values

Ignore tuples with missing values

Imputation etc

[Missing Data](https://miro.medium.com/v2/resize:fit:720/format:webp/0*BGo0n_KBMF5gNHdl.png)

![Missing Data](https://miro.medium.com/v2/resize:fit:720/format:webp/0*BGo0n_KBMF5gNHdl.png)

Techniques to handle Noisy data —

Binning

Regression

Clustering

[Noisy Data](https://miro.medium.com/v2/resize:fit:720/format:webp/0*TtKr6_qp4f_O_-hb.png)

![Noisy Data](https://miro.medium.com/v2/resize:fit:720/format:webp/0*TtKr6_qp4f_O_-hb.png)

#### Outlier Detection | Types of Outliers —

###### . Global Outliers : point value is far outside the entirety of the data set

###### . Contextual Outliers : point value which significantly deviates from the rest of the data points in the same context

###### . Collective Outliers : point value as a collection deviate significantly from the entire data set

[Outlier](https://miro.medium.com/v2/resize:fit:640/format:webp/0*qk1HiiNdDB3MCBjZ.jpg)

![Outlier](https://miro.medium.com/v2/resize:fit:640/format:webp/0*qk1HiiNdDB3MCBjZ.jpg)

In [8]:
s = pd.Series([100,290,40,199,76])
s

0    100
1    290
2     40
3    199
4     76
dtype: int64

In [9]:
type(s)

pandas.core.series.Series

In [10]:
s.axes

[RangeIndex(start=0, stop=5, step=1)]

In [11]:
s.dtype

dtype('int64')

In [12]:
s.size

5

In [15]:
s2 = pd.Series([[1,2,3], [4,5,6], [7,8,9]])
s2

0    [1, 2, 3]
1    [4, 5, 6]
2    [7, 8, 9]
dtype: object

In [18]:
s2.axes, type(s2), s2.dtype, s2.size, s2.values

([RangeIndex(start=0, stop=3, step=1)],
 pandas.core.series.Series,
 dtype('O'),
 3,
 array([list([1, 2, 3]), list([4, 5, 6]), list([7, 8, 9])], dtype=object))

In [24]:
s1 = pd.Series([1,2,4,5,6],index = ["Zero","First","Second","Third","Fourth"])

In [25]:
s1

Zero      1
First     2
Second    4
Third     5
Fourth    6
dtype: int64

In [22]:
s1.sort_index()

First     1
Fourth    6
Second    4
Third     5
Zero      2
dtype: int64

In [26]:
s1.sort_values()

Zero      1
First     2
Second    4
Third     5
Fourth    6
dtype: int64

In [29]:
ages = {'Andrew':31,"Kate":45,"Matthew":26,"Helen":19}
new_ages = pd.Series(ages)
new_ages

Andrew     31
Kate       45
Matthew    26
Helen      19
dtype: int64

In [30]:
pd.Series(new_ages,index =["Andrew","Helen"])

Andrew    31
Helen     19
dtype: int64

In [43]:
s1 = pd.Series([[1,2,3,4], [1,2,3,4]])
s2 = pd.Series([[5,6,7,8], [1,2,3,4]])
s12= pd.concat([s1,s2], axis=0)
s12

0    [1, 2, 3, 4]
1    [1, 2, 3, 4]
0    [5, 6, 7, 8]
1    [1, 2, 3, 4]
dtype: object

In [44]:
s12.shape

(4,)

In [45]:
type(s12)

pandas.core.series.Series

In [46]:
s12.axes

[Index([0, 1, 0, 1], dtype='int64')]

In [48]:
cars1 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv")
cars2 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv")

In [49]:
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN

In [50]:
cars2

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,33.0,4,91,53,1795,17.4,76,3,honda civic
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se
2,18.0,6,250,78,3574,21.0,76,1,ford granada ghia
3,18.5,6,250,110,3645,16.2,76,1,pontiac ventura sj
4,17.5,6,258,95,3193,17.8,76,1,amc pacer d/l
...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

In [51]:
cars1.shape

(198, 14)

In [52]:
cars2.shape

(200, 9)

In [54]:
pd.concat([cars1,cars2], axis=0).shape

(398, 14)